@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset ค่า default ที่ Vite ใส่มา */
html, body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
